.bundle
db/*.sqlite3
log/*.log
tmp/*
tags
coverage/*
rerun.txt
doc/**/*
vendor/bundle
vendor/cache
vendor/ruby
.sass-cache
._*
.env
.env.local
.pryrc
!.keep
*.swo
*.swp
public/system
public/assets
public/uploads
